/* Sets the standard for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets standard background color for all body elements */
body {
    background-color: #d9dcd6;
}

/* the following css sets the style for the header, logo, and the letters in the logo */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

/* the following css sets how the nav links are displayed */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* all anchor tags are to be this color with no underlines */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets paragraph size */
p {
    font-size: 16px;
}

/* sets background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* floats the element to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* floats the element to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the main content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* the following css sets the aside column and how it displays */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* the following css sets how the main content is displayed */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-section img {
    max-height: 200px;
}

.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the following css sets how the footer, license, and copyright is displayed */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
